.nav-container {
    display: flex;
    width: 90%;
    position: fixed;
    z-index: 10;
    color: whitesmoke;
    fill: whitesmoke;
}

.nav-logo-container {
    flex: 1;
    text-align: left;
}

.nav-options-container{
    display: flex;
    gap: 24px
}

.nav-user-section{
    margin-left: auto;
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    gap: 24px;
}
